
<%- include("header") -%>
        
        <div class="box" id="heading">
            <h1 ><%= todayIsDay %></h1>  
        </div>


        <div class="box">
           
            <% for(var i=0;i<itemArray.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%=itemArray[i]%></p>
                </div>                
            <% } %>

            <form class="item"  method="POST" action="/">
                <input type="text" name="taskName" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button" value=<%= todayIsDay %>>+</button>
            </form>
        </div>
    
<%- include("footer") -%>   